# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=expresso_consultoria_dev
DB_NAME_TEST=expresso_consultoria_test
DB_SSL=false
